:root {
    --color-primary: #59a5d8;
    --color-secondary: #84d2f6;
    --color-accent: #386fa4;
    --color-headings: #133c55;
    --color-body: #91e5f6;

    --color-gray : Gray;
    --color-light-gray : lightGray;
  }
  